<h1>Reset mail</h1>
<p><%= 'hi ' + @user.name %></p>
Click 
<%= link_to "reset link", edit_password_reset_url(id: @user.reset_token,
                                                      email: @user.email) %>
 to reset your account